* {
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.container {
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.words {
    flex-basis: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}
.green{
  color: #27CD1A;
  border-color: #27CD1A;
}
.red {
  color: #F81805;
  border-color: #F81805;
}
.underline {
  border-bottom: solid 4px;
}
